<!--
  <div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    <ngx-status-card [title]="statusCard.title" [type]="statusCard.type">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-status-card>
  </div>
</div>
-->

<div class="row">
  <div class="col-xxxl-12 col-xxl-8 col-lg-7 col-md-6">
    <nb-card>
      <nb-card-header>Pie</nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-12 col-xl-12">
    <nb-card>
      <nb-card-header>
        Smart Table
      </nb-card-header>

      <nb-card-body>
        <ngx-smart-table></ngx-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
