<nb-card>
  <nb-card-header>
    <div class="button-css ">
      <div>Reconciliation Settings</div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <form>
      <div class="form-group row">
        <label for="dtb" class="label col-sm-2 col-form-label">DTB</label>
        <div class="col-sm-4">
          <input
            type="text"
            nbInput
            fullWidth
            id="dtb"
            placeholder="Enter Email Addresses separated by semicolon "
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="acb" class="label col-sm-2 col-form-label">ACB</label>
        <div class="col-sm-4">
          <input
            type="text"
            nbInput
            fullWidth
            id="acb"
            placeholder="Enter Email Addresses separated by semicolon "
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="nbc" class="label col-sm-2 col-form-label">NBC</label>
        <div class="col-sm-4">
          <input
            type="text"
            nbInput
            fullWidth
            id="ncb"
            placeholder="Enter Email Addresses separated by semicolon "
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="bot" class="label col-sm-2 col-form-label"
          >BOT(Bank Of Tanzania)</label
        >
        <div class="col-sm-4">
          <input
            type="text"
            nbInput
            fullWidth
            id="bot"
            placeholder="Enter Email Addresses separated by semicolon "
          />
        </div>
      </div>

      <div class="form-group row">
        <div class="offset-sm-2 col-sm-4">
          <button type="submit" nbButton hero status="primary">
            <nb-icon icon="save"></nb-icon>SAVE
          </button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    <div class="button-css ">
      <div>Gateway Reconciliation Email Addresses</div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <form>
      <div class="form-group row">
        <label for="tigoPesa" class="label col-sm-2 col-form-label"
          >Tigo Pesa</label
        >
        <div class="col-sm-4">
          <input
            type="text"
            nbInput
            fullWidth
            id="tigoPesa"
            placeholder="Enter Email Addresses separated by semicolon "
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="airtel" class="label col-sm-2 col-form-label">Airtel</label>
        <div class="col-sm-4">
          <input
            type="text"
            nbInput
            fullWidth
            id="airtel"
            placeholder="Enter Email Addresses separated by semicolon "
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="mPesa" class="label col-sm-2 col-form-label">M-Pesa</label>
        <div class="col-sm-4">
          <input
            type="text"
            nbInput
            fullWidth
            id="mPesa"
            placeholder="Enter Email Addresses separated by semicolon "
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="haloPesa" class="label col-sm-2 col-form-label"
          >Halo Pesa</label
        >
        <div class="col-sm-4">
          <input
            type="text"
            nbInput
            fullWidth
            id="haloPesa"
            placeholder="Enter Email Addresses separated by semicolon "
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="zantel" class="label col-sm-2 col-form-label">Zantel</label>
        <div class="col-sm-4">
          <input
            type="text"
            nbInput
            fullWidth
            id="zantel"
            placeholder="Enter Email Addresses separated by semicolon "
          />
        </div>
      </div>

      <div class="form-group row">
        <div class="offset-sm-2 col-sm-4">
          <button type="submit" nbButton hero status="primary">
            <nb-icon icon="save"></nb-icon>SAVE
          </button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
