<nb-layout class="loginContainer">
  <nb-layout-column>
    <div class="row">
      <div class="col-md-8 login-body">
        <nb-card class="innerContainer">
          <nb-card-header class="singinContainer">
            <div class="signIn"><h1>Sign In</h1></div>
          </nb-card-header>
          <nb-card-body>
            <form [formGroup]="loginForm" (ngSubmit)="authenticate()">
              <div class="form-group row fieldRow">
                <label for="inputEmail1" class="label col-sm-2 col-form-label"
                  >Username</label
                >
                <!-- <div class="col-sm-4"> -->
                <input
                  type="email"
                  formControlName="email"
                  nbInput
                  fullWidth
                  id="email"
                  placeholder="Username"
                  class="fieldInput"
                />
                <!-- </div> -->
              </div>
              <div class="form-group row fieldRow">
                <label
                  for="inputPassword2"
                  class="label col-sm-2 col-form-label"
                  >Password</label
                >
                <!-- <div class="col-sm-4">-->
                <input
                  type="password"
                  formControlName="password"
                  nbInput
                  fullWidth
                  id="password"
                  placeholder="Password"
                  class="fieldInput"
                />
                <!--</div>-->
              </div>

              <div class="form-group row btnRow">
                <!-- <div class="offset-sm-2 col-sm-4"> -->
                <button
                  type="submit"
                  nbButton
                  hero
                  status="primary"
                  class="fieldBtn"
                >
                  Login
                </button>
                <!-- </div> -->
              </div>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
