nb-checkbox {
  margin-bottom: 1rem;
}

.form-inline [fullWidth] {
  flex: 1;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}
.button-css {
  display: flex;
  justify-content: space-between;
}

.singinContainer {
  display: flex;
}

.signIn {
  margin: auto;
}
.login-body {
  margin: auto;
}

.innerContainer {
  width: 50%;
  margin: auto;
}

.fieldRow {
  display: block;
}

.fieldInput {
  width: 95% !important;
  margin: auto;
  display: flex;
}

.fieldBtn {
  width: 95%;
}

.btnRow {
  justify-content: center;
}

.loginContainer {
  align-items: center;
}
