<nb-card>
  <nb-card-header>
    <div class="button-css ">
      <div>Netsuit Settings</div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form>
      <div class="form-group row">
        <label for="gstProdCount" class="label col-sm-2 col-form-label"
          >Guest Product Count</label
        >
        <div class="col-sm-4">
          <input
            type="text"
            nbInput
            fullWidth
            id="gstProdCount"
            placeholder="Enter Guest Product Count"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="podPayRequest" class="label col-sm-2 col-form-label"
          >POD Payment Request expiration duration (Minutes)</label
        >
        <div class="col-sm-4">
          <input
            type="text"
            nbInput
            fullWidth
            id="podPayRequest"
            placeholder="Enter POD Payment Request expiration duration (Minutes)"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="minSalesOrderAmt" class="label col-sm-2 col-form-label"
          >Minimum Sales Order Amount (TZS)</label
        >
        <div class="col-sm-4">
          <input
            type="text"
            nbInput
            fullWidth
            id="minSalesOrderAmt"
            placeholder="Enter Minimum Sales Order Amount (TZS)"
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-4">
          <button type="submit" nbButton hero status="primary">
            <nb-icon icon="save"></nb-icon>SAVE
          </button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
