<div class="row">
  <div class="col-md-12 col-lg-12">
    <nb-card>
      <nb-tabset>
        <!-- Transaction-->
        <nb-tab tabTitle="Transaction Limit">
          <sfu-transaction></sfu-transaction>
        </nb-tab>

        <!-- Reconcilition-->
        <nb-tab tabTitle="Reconciliation">
          <sfu-reconciliation></sfu-reconciliation>
        </nb-tab>

        <!--Transportaion-->
        <nb-tab tabTitle="Transportation">
          <sfu-transporation></sfu-transporation>
        </nb-tab>

        <!--Risk-->
        <nb-tab tabTitle="Risk Management">
          <sfu-risk></sfu-risk>
        </nb-tab>

        <!-- Netsuit-->
        <nb-tab tabTitle="Netsuit">
          <sfu-netsuit></sfu-netsuit>
        </nb-tab>

        <!-- Report-->
        <nb-tab tabTitle="Report">
          <sfu-report></sfu-report>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>
