<nb-card>
  <nb-card-header>
    <div class="button-css ">
      <div>Force Update By Feature</div>
      <div class="buttons-row ">
        <button [routerLink]="['../add']" nbButton outline>
          <nb-icon icon="plus"></nb-icon>Add New
        </button>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (deleteConfirm)="onDeleteConfirm($event)"
      noSanitize
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
