<nb-card>
  <nb-card-header>
    <div class="button-css ">
      <div>Transportation Settings</div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form>
      <div class="form-group row">
        <label for="shipRadius" class="label col-sm-2 col-form-label"
          >Shipment Radius (KM)</label
        >
        <div class="col-sm-4">
          <input
            type="text"
            nbInput
            fullWidth
            id="shipRadius"
            placeholder="Enter Shipment Radius..."
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="drvLocDistance" class="label col-sm-2 col-form-label"
          >Driver Location Heartbeat Distance (KM)</label
        >
        <div class="col-sm-4">
          <input
            type="text"
            nbInput
            fullWidth
            id="drvLocDistance"
            placeholder="Enter Driver Location Heartbeat Distance..."
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="drvLocTime" class="label col-sm-2 col-form-label"
          >Driver Location Heartbeat Time (Seconds)</label
        >
        <div class="col-sm-4">
          <input
            type="text"
            nbInput
            fullWidth
            id="drvLocTime"
            placeholder="Enter Driver Location Heartbeat Time..."
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="drvMapRefTime" class="label col-sm-2 col-form-label"
          >Driver Map Refresh Time (Seconds)</label
        >
        <div class="col-sm-4">
          <input
            type="text"
            nbInput
            fullWidth
            id="drvMapRefTime"
            placeholder="Enter Driver Map Refresh Time..."
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="drvMapRefDistance" class="label col-sm-2 col-form-label"
          >Driver Map Refresh Distance (KM)</label
        >
        <div class="col-sm-4">
          <input
            type="text"
            nbInput
            fullWidth
            id="drvMapRefDistance"
            placeholder="Enter Driver Map Refresh Distance..."
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="shipExpDuration" class="label col-sm-2 col-form-label"
          >Shipment Expiration Duration(Hours)
        </label>
        <div class="col-sm-4">
          <input
            type="text"
            nbInput
            fullWidth
            id="shipExpDuration"
            placeholder="Enter Shipment Expiration Duration..."
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="shipLocProxiRadius" class="label col-sm-2 col-form-label"
          >Shipment Location Proximity Radius(Meters)
        </label>
        <div class="col-sm-4">
          <input
            type="text"
            nbInput
            fullWidth
            id="shipLocProxiRadius"
            placeholder="Enter Shipment Location Proximity Radius(Meters)..."
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="shipFutBookDays" class="label col-sm-2 col-form-label"
          >Shipment Future Booking Days
        </label>
        <div class="col-sm-4">
          <input
            type="text"
            nbInput
            fullWidth
            id="shipFutBookDays"
            placeholder="Enter Shipment Future Booking Days..."
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="comEmailAddr" class="label col-sm-2 col-form-label"
          >Comments/Feedback Email Address
        </label>
        <div class="col-sm-4">
          <input
            type="text"
            nbInput
            fullWidth
            id="comEmailAddr"
            placeholder="Enter Email Addresses Separated By Semicolon"
          />
        </div>
      </div>

      <div class="form-group row">
        <div class="offset-sm-2 col-sm-4">
          <button type="submit" nbButton hero status="primary">
            <nb-icon icon="save"></nb-icon>SAVE
          </button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
